
  <div id="slideshow">
      <div class="slideshow" >
          <img class="mySlides fade" src="../assets/cow.jpg" >
          <img class="mySlides fade" src="../assets/91wVYxgtFWL._SL1500_.jpg" >
          <img class="mySlides fade" src="../assets/20170708_122249.jpg" > 
      </div>
  </div>


<div class="services" id="services">
<div class="title_services"><b>Our Services</b></div>
 <div class="container con">
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center">
    <img class="card-img-top" src="../assets/milk.jpg" height="180" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Milk</h3>
        <p class="card-text">cow milk</p>
        <p class="card-text"><strong>Price-</strong>123</p>
      </div>
           
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center">
    <img class="card-img-top" src="../assets/curd.jpg" height="180" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Curd</h3>
        <p class="card-text">cow curd</p>
        <p class="card-text"><strong>Price-</strong>123</p>
      </div>
            
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center">
    <img class="card-img-top" src="../assets/ghee.jpg" height="180" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">Ghee</h3>
        <p class="card-text">Pure ghee</p>
        <p class="card-text"><strong>Price-</strong>123</p>
      </div>
           
    </div>
  </div>
</div> </div>
</div>


<div class="contact" id="contact">
<div class="title_contact"><b>Contact us</b></div>
 <div class="container cont">
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center c">
      <div class="card-block">
        <h3 class="card-title">Call us</h3>
        <p class="card-text">7728999684</p>
      </div>
           
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center c">
      <div class="card-block">
        <h3 class="card-title">Email us</h3>
        <p class="card-text">a.asankhala@gmail.com</p>
      </div>     
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center c">
      <div class="card-block">
        <h3 class="card-title">Services avaialable at</h3>
        <p class="card-text">Jaipur(Raj.)</p>
      </div>     
    </div>
  </div>



</div> </div>
</div>


<div class="feedback" id="feedback">
<div class="title_feedback"><b>See what our customer says</b></div>
 <div class="container fed">
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center f">
      <div class="card-block">
        <h3 class="card-title">Customer1</h3>
        <p class="card-text"><blockquote><q>qwertyuiopasdfghjkl</q></blockquote></p>
      </div>
           
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center f">
      <div class="card-block">
        <h3 class="card-title">Customer2</h3>
        <p class="card-text"><blockquote><q>qwertyuiopasdfghjkl</q></blockquote></p>
      </div>     
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card text-center f">
      <div class="card-block">
       <h3 class="card-title">Customer3</h3>
        <p class="card-text"><blockquote><q>qwertyuiopasdfghjkl</q></blockquote></p>
      </div>     
    </div>
  </div>

</div> </div>
</div>



<div class="end">
  <div class="dcm">&copy; 2015 Desi Cow's Milk</div>
</div>

<div class="imager"></div>


 